---
layout: home
menu: Home
title: LaTeX - A document preparation system
description: "LaTeX is a high-quality typesetting system; it includes features designed for the production of technical and scientific documentation."
---

<div class="row">
  <div class="col cell1of2">
    <h1>LaTeX – A document preparation system</h1>
    <p>LaTeX is a high-quality typesetting system; it includes features designed for the production of technical and scientific documentation. LaTeX is the de facto standard for the communication and publication of scientific documents. LaTeX is available as <a href="{{ "/lppl/" | prepend: site.baseurl }}">free software</a>.</p>
  </div>
  <div class="col cell1of2 news">
    <h2>Recent News</h2>
    <ul class="news-posts">
      {% for post in site.posts offset: 0 limit: 3 %}
      <li><span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    <small><a href="{{ "/news/" | prepend: site.baseurl }}">All News</a> &middot; Subscribe to our <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-rss-square"></span>RSS News Feed</a></small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col cell1of2">
    <h2>LaTeX the product</h2>
    <dl>
      <dt><a href="{{ "/about/" | prepend: site.baseurl }}">Introduction</a></dt>
      <dd>Short introduction to LaTeX. Learn what LaTeX is, which features it has, and how it works.</dd>
      <dt><a href="{{ "/get/" | prepend: site.baseurl }}">Getting LaTeX</a></dt>
      <dd>Learn how and where to get LaTeX for Linux, Mac OS X, Windows and Online.</dd>
      <dt><a href="{{ "/news/latex2e-news/" | prepend: site.baseurl }}">LaTeX2e Release Newsletters</a></dt>
      <dd>LaTeX2e release newsletters for each release of LaTeX created since 1994.</dd>
      <dt><a href="{{ "/help/" | prepend: site.baseurl }}">Getting help</a></dt>
      <dd>Help for issues with TeX and LaTeX: Official documentation, books, and links.</dd>
    </dl>
  </div>
  <div class="col cell1of2">
    <h2>The LaTeX3 Project</h2>
    <dl>
      <dt><a href="{{ "/latex3/" | prepend: site.baseurl }}">LaTeX3 Project</a></dt>
      <dd>The LaTeX3 project is a long-term research project to develop the next version of the LaTeX typesetting system.</dd>
      <dt><a href="{{ "/publications/" | prepend: site.baseurl }}">Publications</a></dt>
      <dd>A selection of articles, slides, conference papers, videos etc. published by the LaTeX3 project.</dd>
      <dt><a href="{{ "/latex3/code/" | prepend: site.baseurl }}">Development Code</a></dt>
      <dd>Place to get LaTeX3 development code which is intended only for experimentation and comments.</dd>
      <dt><a href="https://www.tug.org/donate.html">Donations</a></dt>
      <dd>Please consider donating to the TeX Users Group to support LaTeX development (LaTeX Project contribution).</dd>
    </dl>
  </div>
</div>
<hr>
<div class="row">{% include google.adsense.html %}</div><hr> 
<hr>
<div class="row teaser">
  <section class="col cell1of3">{% include teaser.books.html %}</section>
  <section class="col cell1of3">{% include teaser.documentation.html %}</section>
  <section class="col cell1of3">{% include teaser.team.html %}</section>
</div>
