<footer>
  <div class="row">
    <div class="col cell1of2">
      <h2>LaTeX Project</h2>
      <p>Footer contents</p>
    </div>
    <div class="col cell1of4">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/about/team/">Team</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/lppl/">LPPL</a></li>
      </ul>
    </div>
    <div class="col cell1of4">
      <ul>
        <li><a href="/feed.xml">News Feed</a></li>
        <li><a href="/bugs/">Bugs</a></li>
        <li><a href="/privacy/">Privacy</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <p>This page was last modified at {{ page.last_modified_at }}</p>
</footer>
