<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/fa/css/font-awesome.css" | prepend: site.baseurl }}">
  <script src="{{ "/js/vgwort.js" | prepend: site.baseurl }}"></script>
  <!--[if lt IE 9]>
    <script src="{{ "/js/html5shiv.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/html5shiv-printshiv.js" | prepend: site.baseurl }}"></script>
  <![endif]-->
  {% include silktide.cookieconsent.html %}
</head>
