      <nav>
        <label for="show-menu" class="show-menu">Show Menu</label>
        <input type="checkbox" id="show-menu" role="button">
        <ul>
          {% if page.url == '/' %}<li class="active">{% else %}<li>{% endif %}
            <a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
          {% if page.url contains '/about/' %}<li class="active">
            {% else %}<li>{% endif %}
            <a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
          {% if page.url == '/get/' %}<li class="active">{% else %}<li>{% endif %}
            <a href="{{ "/get/" | prepend: site.baseurl }}">Get</a></li>
          {% if page.url contains '/latex3/' %}<li class="active">
            {% else %}<li>{% endif %}
            <a href="{{ "/latex3/" | prepend: site.baseurl }}">LaTeX3</a></li>
          {% if page.url == '/publications/' %}<li class="active">{% else %}<li>{% endif %}
            <a href="{{ "/publications/" | prepend: site.baseurl }}">Publications</a></li>
          {% if page.url contains '/help/' %}<li class="active">
            {% else %}<li>{% endif %}
            <a href="{{ "/help/" | prepend: site.baseurl }}">Help</a></li>
          {% if page.url contains '/news/' %}<li class="active">
            {% else %}<li>{% endif %}
            <a href="{{ "/news/" | prepend: site.baseurl }}">News</a></li>
        </ul>
      </nav>
