<div class="col cell1of3">
  <h3><a href="{{ site.baseurl }}/publications/indexbytopic/">Publications by topic</a></h3>
  <p>Under each topic you will find relevant articles and papers on
    related subjects published by the LaTeX3 project as well as links to
    videos of their conference presentations.</p>
  <h3><a href="{{ site.baseurl }}/publications/">Publications by year</a></h3>
  <p>A alternative view of all publications ordered by year is given on the
    <a href="{{site.baseurl}}/publications/">Publications by Year page</a>.</p>
  <h3><a href="{{ site.baseurl }}/help/books">Books by project members
      and others</a></h3>
  <p>A list of books that we think are useful is given on
    the <a href="{{ site.baseurl }}/help/books">Books Page</a>. By
    buying documentation through this website you support the volunteer
    work of project members to keep LaTeX useful for you.</p>
</div>
<div class="col cell2of3">
  <ul class="toc">
    <li>LaTeX2e
      <ul class="toc">
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/2e-concepts/" title="">Concepts and Design</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/2e-packages/" title="">Packages</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/2e-floats/" title="">Float handling</a></li>
      </ul>
    </li>
    <li>LaTeX3
      <ul class="toc">
         <li><a href="{{ site.baseurl }}/publications/indexbytopic/l3-concepts/" title="">Concepts, Architecture and Design</a></li>
         <li><a href="{{ site.baseurl }}/publications/indexbytopic/l3-applications/" title="">Applications</a></li>
	 <li><a href="{{ site.baseurl }}/publications/indexbytopic/l3-expl3/" title="">The Programming Language (expl3)</a></li>
      </ul>
    </li>
    <li>Coding, Testing  &amp; Support
      <ul class="toc">
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/coding/" title="">Coding support</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/regression-testing/" title="">Regression testing</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/workflow" title="">Build and workflow support</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/lppl/" title="LPPL: The LaTeX Project Public License">LPPL license</a></li>
      </ul>
    </li>
    <li>Other topics independent of the LaTeX version
      <ul class="toc">
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/engines/" title="TeX engine development &amp; improvements">TeX engine development</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/pagination/" title="Research into globally optimized pagination">Optimized pagination</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/fonts/" title="">Fonts in text and math</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/unicode/" title="">Unicode</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/mathml/" title=""> MathML, XML</a></li>
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/mixed-bag/" title="">Anything else ...</a></li>
      </ul>
    </li>
  </ul>
</div>
<hr>




<!--
	<li><a href="{{ site.baseurl }}/publications/indexbytopic/" title=""> </a></li>
-->
